<?xml version="1.0"?>
<module name="Checker">
    <!-- Set the severity level for all checks -->
    <property name="Severity" value="Warning"/>

    <!-- Need this module to parse Java files-->
    <module name="TreeWalker">

        <!-- Check for missing Javadoc comments on public classes and methods-->
        <module name="JavadocType"/>
        <module name="JavadocMethod"/>

        <!-- Check for proper indentation -->
        <module name="Indetation">
            <property name="basicOffset" value="4"/>
            <property name="braceAdjustment" value="0"/>
            <property name="caseIndent" value="4"/>
            <property name="tabWidth" value="4"/>
        </module>

        <!-- Check for line length -->
        <module name="LineLength">
            <property name="max" value="120"/>
        </module>

        <!-- Check for unused imports -->
        <module nmae="UnusedImports"/>

        <!-- Ensure there is a newline at the end of the file -->
        <module name="NewLineAtEndOfFile"/>

        <!-- Enforce a single space after keywords -->
        <module name="WhitesapceAfter">
            <property name="token" value="LITERAL_IF, LITERAL_ELSE, LITERAL_FOR, LITERAL_WHILE, LITERAL_DO"/>
        </module>
    </module>
</module>
